body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background: #f9f9f9;
}

.container {
  max-width: 360px;
  margin: auto;
  background: white;
  min-height: 100vh;
  padding: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

.title {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
}

.insulin {
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  margin: 16px 0;
  color: #1e88e5;
}

.insulin.warning {
  color: #d32f2f;
}

.message {
  text-align: center;
  font-size: 14px;
  color: #555;
}

.input-label {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
}

input {
  width: 120px;
  height: 44px;
  font-size: 18px;
  text-align: center;
}

.calculate {
  width: 100%;
  height: 52px;
  margin-top: 24px;
  font-size: 18px;
  background: #64b5f6;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition:background-color 0.15s ease ;
}

.calculate:active{
  background-color: #4fa3e3;
}
.calculate:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.disclaimer {
  margin-top: 24px;
  font-size: 12px;
  text-align: center;
  color: #888;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 280px;
  text-align: center;
}

.modal h3 {
  color: #d32f2f;
  margin-bottom: 12px;
}

.modal p {
  font-size: 14px;
  margin-bottom: 20px;
}

.modal-button {
  width: 100%;
  height: 44px;
  background: #d32f2f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}